name: SAST - Semgrep (canonicalization-example)

on:
  push:
  pull_request:

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: pip install semgrep

      - name: Run Semgrep SAST
        run: semgrep --config p/owasp-top-ten canonicalization-example --error

      - name: Upload SARIF report
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: semgrep.sarif
